{% extends "layout.html" %}
{% block content %}
  <div class="content-session">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-botton mb-4">Votação</legend>
        <p>Realize aqui o cadastro de uma nova votação</p>
        <div class="form-group" style = "font-weight:bold; font-size:16px">
          {{ form.votacao.label(class="form-control-label") }}
          {% if form.votacao.errors %}
            {{ form.votacao(class="form-control form-control-lg is-invalid" ) }}
            <div class="invalid-feedback">
              {% for error in form.votacao.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.votacao(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.cadastrar (class="btn btn-outline-info") }}
      </div>
    </form>    
  </div>  
{% endblock content %}